<!doctype html>
<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="dashboard.css">
</head>

<body>

  <div class="container-fluid">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"> <%= user.name %></span>'s Dashboard</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/" class="btn btn-default btn-sm">Home</a>

    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6 text-center">
        <div class="persona ">
          <h3><img src="<%= user.profileImg %>" alt=""></h3>

          <% if (user.local.email) { %>
            <h2>
              <strong>
              <%= user.name %><br></strong>

                <strong>email</strong>:
                <%= user.local.email %><br>

            </h2>

            <a href="/unlink/local" class="btn btn-danger deleteBtn">Delete Account</a>
            <% } else { %>
              <a href="/connect/local" class="btn btn-default">Connect Local</a>
              <% } %>

        </div>


            <div class="col-sm-6 upload">

        <form class="form-group" action="/up" enctype="multipart/form-data" method="post">
          <label class="proLabel"for="exampleInputFile">Profile Picture Upload</label>
          <input type="file" name="file-to-upload" class="<form-control-file></form-control-file>" id="exampleInputFile" aria-describedby="fileHelp">
          <input type="submit" class="uploadBtn"   value="Upload">
        </form>
      </div>

          </div>
            <div class="col-sm-6">

                      <h2>Update Your Profile</h2>

                      <p>Your profile will be available to the public, please be responsible, this is a communal space.</p>
                      <% if (user.local.email) { %>

</div>
<div class="col-sm-6">

          <form action="/profiles" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>

            <input type="text" value="<%= user.local.email %>" name="email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Name</label>

            <input type="text" placeholder="Enter Name or Nickname" name="name">
          </div>
          <div class="form-group">
            <label for="">Capture: (quick caption)</label>

            <span for="memoir">A 6 word <a href="https://www.google.com/search?q=dictionary+memoir&oq=dictionary+memoir&aqs=chrome..69i57j35i39j0l4.2705j0j7&sourceid=chrome&ie=UTF-8" target="_blank">memoir.</a></span>
            <input type="text" placeholder="memoir" name="memoir">
          </div>
            <div class="form-group">
              <label for="">Location</label>

            <input type="text" placeholder="location" name="location" name="location">
          </div>
          <div class="form-group">
            <label for="">Frequent Shelters:</label>

            <textarea name="shelterList" rows="8" cols="80" placeholder="Frequented Shelters, please use complete shelter name (where items on your list may be dropped off)"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleSelect2">Share Your Journey:</label>

            <textarea name="story" placeholder="Share Your Story Here" rows="8" cols="80"></textarea>

          </div>
          <div class="form-group">
            <label for="exampleSelect2">Short Term Goals or Game Plan:</label>

            <textarea name="gameplan" placeholder="Short Term Game Plan Here, e.g. make a resume, apply to jobs, mock interviews" rows="8" cols="80"></textarea>
</div>
<div class="form-group">


            <label for="Asks">Choose Items:</label>
            <select id="asks" name="asks" multiple="7">
            <option name="asks" value="Soxt">Sox</option>
            <option name="asks" value="Undergarments">Undergarments</option>

            <option name="asks" value="Backpack">Backpack</option>
            <option name="asks" value="Deoderant">Deoderant</option>
            <option name="asks" value="Razor">Razor</option>
            <option name="asks" value="Soap">Soap</option>
            <option name="asks" value="Lotion">Lotion</option>
            <option name="asks" value="Hair Ties">Hair Ties</option>
            <option name="asks" value="Shampoo">Shampoo</option>
            <option name="asks" value="Conditioner">Conditioner</option>
            <option name="asks" value="Floss">Floss</option>
            <option name="asks" value="Toothbrush">Toothbrush</option>
            <option name="asks" value="Comb/Brush">Comb/Brush</option>

            <option name="asks" value="T-Shirt">T-Shirt</option>

            <option name="asks" value="Dress Shirt">Dress Shirt</option>
            <option name="asks" value="Dress Pants">Dress Pants</option>
            <option name="asks" value="Dress Shoes">Dress Shoes</option>
            <option name="asks" value="Formal Dress">Formal Dress</option>
            <option name="asks" value="Formal Skirt">Formal Skirt</option>
            <option name="asks" value="Prom Dress">Prom Dress</option>
            <option name="asks" value="Dress Tiet">Dress Tie</option>
            <option name="asks" value="Gloves">Gloves</option>
            <option name="asks" value="Sweater">Sweater</option>
            <option name="asks" value="Winter Coat">Winter Coat</option>
            <option name="asks" value="Sleeping Bag">Sleeping Bag</option>
        </select>
      </div>
            <div class="form-group">
              <label for="exampleSelect2">clothing and Shoe Size:</label>

            <textarea class="form-control" name="size" placeholder="Clothing Size: S, M, L, Xl, Pant Size, Shoe Size, Men or Women's clothing(be specific)" rows="8" cols="80"></textarea>

          </div>
          <div class="form-group">
            <label for="exampleSelect2">Updates:</label>

            <textarea class="form-control" name="updates" placeholder="Share updates and progress here, such as: resume completed, scheduled an interview, got a job, OR Thank Someone for an item! " rows="8" cols="80"></textarea>
</div>
            <button class="btn btn-primary"type="submit">Save</button>
          </form>
      </div>
      <% } %>
    </div>



  </div>


  <script src="main.js"></script>

</body>

</html>
