<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

  <title>In The Streets Of:</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <!-- <main role="main"> -->


  <section class="jumbotron hero">
    <div class="container ">

      <div class="text-center jumboH">
        <h1 class="jumbotron-heading">In The Streets Of:</h1>
      </div>

      <h4 class="text-white"> I.T.S.O</h4>
      <h4 class="text-muted">Ever Wonder Who They Are? Where They've Been? How to Help?</h4>
      <p class="text-muted">"We all have a story... "</p>
      <h4 class="text-muted">Get acquainted with the faces you pass by every day.</h4>

      <div class="row participant text-center ">
        <div class="col-sm-6 logsig">
          <a href="/login" class="btn btn-info my-2 "><span>Login</span></a>
        </div>
        <div class="col-sm-6 logsig">
          <a href="/signup" class="btn btn-success my-2 "><span>Signup</span></a>
        </div>

      </div>



      </p>
    </div>
    <div class="heroQ">
      <h3 class="lead text-muted heroQ">"--Never doubt that a small group of thoughtful, committed, citizens can change the world. Indeed, it is the only thing that ever has." – Margaret Mead</h3>

    </div>
  </section>

  <div class="album  bg-light container-fluid">
    <!-- <div class="container"> -->
    <div class="row">
      <div class="col-sm-4  py-4">
        <div class="text-center">
          <h1 class="fa fa-user icons"></h1>
        </div>


        <h3 "text-white">Join</h3>

        <p class="font-weight-bold">Please log in or register to create a profile.</p>
        <p class="font-weight-bold">I.T.S.O. participants can share their story, location, frequented shelters, along with things that may help during </p>
        <p class="font-weight-bold">Need A dress shirt for an interview? Post with an asks</p>
        <p class="font-weight-bold">This Space is for you, advocate, and keep ...</p>

      </div>
      <div class="col-sm-4  py-4 textMid">
        <div class="text-center">
          <h1 class="fa fa-heart icons"></h1>
        </div>

        <h3 "text-white">To Connect, Learn, Donate, Or Get Involved</h3>
        <h6>In The Streets Of is all about self-advocacy, community, and awareness.These public profiles are an opportunity to learn from those who are currently temporarily homeless, so that as a community we can learn how to improve How We Help. Working together we can improve the allocation of resources and by doing so, we can reach our full potential as an efficient society. </h6>

        <p class="text-muted">View Profiles(or click <a href="#prifle">here</a>).</p>
        <p class="text-muted">If you have an item you'd like to donate that matches with a participant's posted list of basic items that could help this moment, you frequented shelters.</p>
        <p class="text-muted">Someone may be looking for help with their resume, or mentorship, feel free to connect with them by sending an email.</p>
        <h6 class="text-muted">*there is no exchange of currency, all items are considered donations</h6>

      </div>
      <div class="col-sm-4  py-4">
        <div class="text-center">
          <h1 class="fa fa-check  icons"></h1>
        </div>


        <h3 "text-white">Other Ways To Help The Temporarily Homeless:</h3>

        <p class="text-muted">Carry A $20 Gift Card that can be used for clothing, food, or purchases.</p>
        <p class="text-muted">In the summer: water bottles come in handy!</p>
        <p class="text-muted">Winter: handwarmers are welcomed.</p>
        <p class="text-muted">Be kind.</p>
        <p class="text-muted">A genuine exchange can go a long way.</p>

      </div>
    </div>
  </div>
  <div class="container">
    <!-- <h2 class="text-white">"Boston's homeless population increased nearly 4 percent in 2013 over the previous year, according to an annual point-in-time census. On Dec. 16, 2013, there were 7,255 homeless men, women and children in Boston, a 3.8 percent increase over the 2012 tally of 6,992." -City Of Boston 2012 Census</h2> -->
    <div class="row midInfo">


      <div class="col-md-6">
        <span class="fa fa-info-circle"></span>

      <h4>I.T.S.O connects can help us track real time data of what resources are being use, who's using them, and help us identify what is missing. Our efforts as a community can help to prevent and end homelessness.</h4>
        <!-- <embed width="auto" height="600px" name="plugin" id="plugin" src="https://www.boston.gov/sites/default/files/document-file-11-2017/2017_homelesscensusresultspressrelease_171128.pdf" type="application/pdf" internalinstanceid="3" title=""> -->
      </div>


      <div class="col-md-6">


        <h4 class="text-white">Resources</h4>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.boston.gov/departments/neighborhood-development/services-homeless" class=" appform-button " target="_blank"><span class="fa fa-ambulance"></span> Services </a></li>
          <li>
            <a href="http://www.communitychurchofboston.org/home/wp-content/uploads/2008/02/Homeless-and-Low-Income-Resource-Guide-2016.pdf" class="appform-button" target="_blank"><span class="fa fa-cutlery"></span> Weekly Meals & More</a></li>
          <li>
            <a href="https://www.mahomeless.org/advocacy">Advocacy</a>
          </li>
          <li>
            <a href="http://projectplace.org/">Job Training, Employment, Housing Assistance</a>
          </li>
        </ul>-


      </div>


    </div>
  </div>
  <div id="profiles" class="container text-center">
    <h2 id="profiles">I.T.S.O: Boston Profiles</h2>


    <div class="row">

        <% for(var i=0; i<users.length; i++) {%>
          <div class="col-md-4 ">

          <!-- <div class="container " style="width: 18rem;"> -->
            <div class="card users profilePreview">


                <img class="card-img-top" src="<%= users[i].profileImg %>" alt="user profile picture">


              <div class="card-body previewBody">
                <h6><%= users[i].location %></h6>
                <h3><%= users[i].memoir %></h3>
                <!-- <h3 id="email"><a href="https://mail.google.com/mail/?view=cm&fs=1&to="><%= users[i].email %></a></h3> -->

              </div>
              <h3><a href="/profile/<%=users[i]._id%>"><%= users[i].name %></a></h3>
            </div>
              </div>
            <% } %>

          <!-- </div> -->




    </div>


  </div>

  <!-- </main> -->

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Created By: KMedinaTheDev</p>

    </div>
  </footer>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/javascript" src="main.js">
  </script>
</body>

</html>
