<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

  <title>In The Streets Of:</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
      <div class="navbar-collapse collapse inverse bg-inverse navbarHeader " id="navbarHeader">
        <div class="container-fluid">

          <div class="row navAbout">
            <div class="navbar navbar-nav navbar-left">
              <h4 class="text-white">About I.T.S.O</h4>
              <h5 class="text-muted">WE ALL HAVE A STORY</h5>
              <h4 class="text-muted">Ever Wonder Who They Are? Where They've Been? How to Help?</h4>

              <h4 class="text-muted">Get acquainted with the faces you pass by every day.</h4>
              <h3 class="text-muted">Make Today A Better Day For Someone In Your City.</h3>
            </div>

            <div class="navbar navbar-nav navbar-right">
              <h4 class="text-white">Resources</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.boston.gov/departments/neighborhood-development/services-homeless" class="appform-button" target="_blank"><span class="fa fa-ambulance"></span> Services </a></li>
<li><a href="http://www.communitychurchofboston.org/home/wp-content/uploads/2008/02/Homeless-and-Low-Income-Resource-Guide-2016.pdf" class="appform-button" target="_blank"><span class="fa fa-cutlery"></span> Weekly Meals & More</a></li>

              </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </div>
          <div class="container-fluid">

            <a href="/" class="navbar-brand d-flex align-items-center">
              <img src="/img/handshake.png" alt="" height="75">

            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">

            </button>
          </div>
        </div>
      </div>
    </header>


    <div class="container-fluid">




   <main role="main">


     <section class="jumbotron hero text-center">
       <div class="container">
         <h1 class="jumbotron-heading">In The Streets Of:</h1>
         <p class="lead text-muted">"Never doubt that a small group of thoughtful, committed, citizens can change the world. Indeed, it is the only thing that ever has." – Margaret Mead</p>
           <p>Login or Signup:</p>

           <a href="/login" class="btn btn-primary my-2"><span class="fa fa-user"></span>Login</a>
           <a href="/signup" class="btn btn-info my-2"><span class="fa fa-user"></span>Signup</a>

         </p>
       </div>
     </section>

     <div class="album py-5 bg-light container">
       <div class="container row">
         <h2 "text-white">How It Works</h2>

         <div class="col-sm-4 offset-md-1 py-4">

       <h3 "text-white">To Posts:</h3>
       <ol class="text-muted">
         <li class="text-muted" class="text-muted" class="text-muted" class="text-muted">Please log in or register to create a post.</li>
         <li class="text-muted" class="text-muted" class="text-muted">Users can share their Story, Location, Frequented Shelters, a Lists Of Needs and More!</li>
         <li class="text-muted" class="text-muted">Need A dress shirt for an interview? Post it in your lists of needs</li>
         <li class="text-muted">This Space is for you. Use it to Communicate.</li>
       </ol>
       <div class="col-sm-8 offset-md-1 py-4">
       <h3 "text-white">To Connect, Learn, Donate, Or Get Involved</h3>
       <ol class="text-muted">
         <li class="text-muted">Please scroll to the Message Boards.</li>
         <li class="text-muted">If you have an item you'd like to donate that matches with an applicant's posted Needs feel free to drop off the item at one of their frequented shelters.</li>
         <li class="text-muted">Someone may be looking for help with their resume, or mentorship, feel free to connect with them by sending an email.</li>
         <li class="text-muted">There's 0 obligation.</li>
       </ol>
     </div>
     <div class="col-sm-8 offset-md-1 py-4">

       <h3 "text-white">Other Ways To Help The Temporarily Homeless:</h3>
       <ul>
         <li class="text-muted">Carry A $20 Gift Card that can be used for clothing, food, or purchases.</li>
         <li class="text-muted">In the summer: water bottles come in handy!</li>
         <li class="text-muted">Winter: handwarmers are welcomed.</li>
         <li class="text-muted">Be kind.</li>
         <li class="text-muted">A genuine exchange can go a long way.</li>
       </ul>
     </div>
     </div>
  <div class="container">
    <span class="fa fa-info-circle"></span>
    <h2 class="text-white">"Boston's homeless population increased nearly 4 percent in 2013 over the previous year, according to an annual point-in-time census. On Dec. 16, 2013, there were 7,255 homeless men, women and children in Boston, a 3.8 percent increase over the 2012 tally of 6,992." -City Of Boston 2012 Census</h2>

    <div class="col-md-6 pdf">

<embed width="600px" height="950px" name="plugin" id="plugin" src="https://www.boston.gov/sites/default/files/document-file-11-2017/2017_homelesscensusresultspressrelease_171128.pdf" type="application/pdf" internalinstanceid="3" title="">
    </div>
  </div>
  <div id="" class="jumbotron text-center">
    <h2 >I.T.S.O: Boston Profiles</h2>
    <ul class="users">
      <% for(var i=0; i<users.length; i++) {%>
        <li class="users">
          <h3><img src="<%= user.profileImg %>" alt="user profile picture"></h3>
          <h1><a href="/profile/<%=user[i]._id%>"><%= user[i].name %></a></h1>
          <h6><%= user[i].location %></h6>
          <h3><%= user[i].memoir %></h3>
          <h2 id="email"><a href="https://mail.google.com/mail/?view=cm&fs=1&to="><%= user[i].email %></a></h2>

        </li>
        <% } %>
    </ul>
  </div>
  <div class="container-fluid">

  </div>
         <div class="col cards">
           <div class="col-md-4">
             <div class="card mb-4 box-shadow">
               <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
               <div class="card-body">
                 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                   </div>
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-md-4">
             <div class="card mb-4 box-shadow">
               <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
               <div class="card-body">
                 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                   </div>
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-md-4">
             <div class="card mb-4 box-shadow">
               <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
               <div class="card-body">
                 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                   </div>
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-md-4">
             <div class="card mb-4 box-shadow">
               <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
               <div class="card-body">
                 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                   </div>
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-md-4">
             <div class="card mb-4 box-shadow">
               <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
               <div class="card-body">
                 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                   </div>
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-md-4">
             <div class="card mb-4 box-shadow">
               <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
               <div class="card-body">
                 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                   </div>
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-md-4">
             <div class="card mb-4 box-shadow">
               <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
               <div class="card-body">
                 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                   </div>
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-md-4">
             <div class="card mb-4 box-shadow">
               <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
               <div class="card-body">
                 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                   </div>
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-md-4">
             <div class="card mb-4 box-shadow">
               <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
               <div class="card-body">
                 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                   </div>
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>

   </main>

   <footer class="text-muted">
     <div class="container">
       <p class="float-right">
         <a href="#">Back to top</a>
       </p>
       <p>Created By: KMedinaTheDev</p>

     </div>
   </footer>




  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">

  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/javascript" src="main.js">

  </script>
</body>

</html>
